@model ArticlesApp.Models.Cart

<div class="row">
    <div class="col-12">
        <h5 class="card-title mt-5 mb-3" asp-for="Name">@Model.Name</h5>
        <h5 class="card-title mt-5 mb-3" asp-for="Price">$@Model.TotalPrice</h5>
        <br /><br />
        Produse in cos:
        <br /><br />
    </div>
    <br />

    @if (Model.ProductCarts.Count > 0)
    {
        @foreach (var productCart in Model.ProductCarts)
        {
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <img src="@productCart.Product.Image" alt="@productCart.Product.Title" style="width: 100px; height: 100px;" />
                        <h3 class="card-title">@productCart.Product.Title</h3>
                        <a class="btn btn-primary mt-auto w-100" href="/Products/Show/@productCart.Product.Id">Afisare Produs</a>
                        <h3 class="card-title" name="Quantity">Cantitate: @productCart.Quantity</h3>
                    </div>
                </div>
                <br />
                <br />
            </div>
        }
    }
</div>
