<h2 class="text-center">Confirmare adaugare produse</h2>
<br />
@if(ViewBag.Message != null){

    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


@foreach (var product in ViewBag.Products)
{  if(@product.IsVisible == false)
    {
        <div class="card">
            <div class="card-body">
                <h3 class="card-title alert-success py-3 px-3 rounded-2">@product.Title</h3>
                <p class="card-text">@product.Price</p>
                <div class="d-flex justify-content-between flex-row mt-5">
                    <div><i class="bi bi-globe"></i> @product.Category.CategoryName</div>
                    <form action="/Products/ConfirmAddProduct" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-success">Confirma adaugare produs</button>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
    }
   
   
}


